<form [formGroup]="userForm" (ngSubmit)="userUpdated()"  class="border p-3">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 gb-light">
           <span class="fs-3">Update Users</span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="username" class="form-label" class="required">User Name</label>
        <input type="text" class="form-control" id="username" formControlName="username">
        <div class="form-text text-danger" *ngIf="Username.errors?.['required'] && (Username.dirty || Username.touched)">
            Please Enter Username
        </div>
    </div>
    <div class="row mb-3">
        <label for="oldpassword" class="form-label" class="required"> Password</label>
        <input type="password" class="form-control" id="oldpassword" formControlName="oldpassword">
        <div class="form-text text-danger" *ngIf="oldPassword.errors?.['required'] && (oldPassword.dirty || oldPassword.touched)">
            Please Enter Password
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="form-label" class="required">New Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] && (Password.dirty || Password.touched)">
            Please Enter Password of atleast 8 characters
        </div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['maxlength'] && (Password.dirty || Password.touched)">
            Maximum password length can be 15 characters long only.
        </div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['pattern'] && (Password.dirty || Password.touched)">
            Password must contain atleast one lower case letter, uppercase letter, digit and special character.
        </div>
    </div>
    <div class="row mb-3">
        <label for="confirmpassword" class="form-label" class="required">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword">
        <div class="form-text text-danger" [ngStyle]="{'display':confirmPassword}">
            Invalid Password .
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 mb-3">
            <div class="d-grid">
                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary" >Update User</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <span class="me-3">Login Here</span><a routerLink="/login">Login</a>
        </div>
    </div>
</form>
